{% extends 'static/base.html' %}
{% block title %}
Password Change Page
{% endblock %}
{% block body %}

    <div class="jumbo-header">
        <h1>Forgot Password</h1>
    </div>
     <form class="form-signin" role="form" method="POST">

        <h3 class="form-signin-heading centered">Enter new password</h3>
        <br>
        {% if not validlink %}
            <h6>Password reset failed</h6>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}

        {% csrf_token %}
        <p>{{ form.new_password1.errors }}</p>
        <div class="form-group">
            <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input name="new_password1" type="password" class="form-control" id="password" placeholder="New Password" />
            </div><!--form-group-->
        </div><!--form-group-->
        <p>{{ form.new_password2.errors }}</p>
        <div class="form-group">
            <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input name="new_password2" type="password" class="form-control" id="password" placeholder="Verify Password" />
            </div><!--form-group-->
        </div><!--form-group-->

        {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-warning"></i> {{ error }}
        </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

    </form>


{% endblock body %}