{% extends 'static/base.html' %}
{% block title %}
Password Change Page
{% endblock %}
{% load static %}
{% block script %}

    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#reset-form')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh'
            },
            fields: {
                new_password1: {
                    validators: {
                        notEmpty: {
                            message: 'The password cannot be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 32,
                            message: 'Password length must be atleast 8 characters.\nIt should have atleast one small, capital letter, digit and special character'
                        },
                        regexp: {
                            regexp: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/
                        }
                    }
                },
                new_password2: {
                    validators: {
                        notEmpty: {
                            message: 'The password cannot be empty'
                        },
                        identical: {
                            field: 'new_password1',
                            message: 'The password and its confirm are not the same'
                        }
                    }
                }
            }
        });
});
</script>
{% endblock script %}

{% block body %}

    <div class="jumbo-header">
        <h1>Forgot Password</h1>
    </div>
     <form class="form-signin" id="reset-form" role="form" method="POST">

        <h3 class="form-signin-heading centered">Enter new password</h3>
        <br>
        {% if not validlink %}
            <h6>Password reset failed</h6>
            <p>The password reset link was invalid, possibly because it has already been used. Please request for a password reset again.</p>
        {% endif %}

        {% csrf_token %}
        <p>{{ form.new_password1.errors }}</p>
        <div class="form-group">
            <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input name="new_password1" type="password" class="form-control" id="new_password1" placeholder="New Password" />
            </div><!--form-group-->
        </div><!--form-group-->
        <p>{{ form.new_password2.errors }}</p>
        <div class="form-group">
            <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input name="new_password2" type="password" class="form-control" id="new_password2" placeholder="Verify Password" />
            </div><!--form-group-->
        </div><!--form-group-->

        {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-warning"></i> {{ error }}
        </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

    </form>


{% endblock body %}