{% extends 'static/base.html' %}
{% block title %}
Update Profile
{% endblock %}
{% block body %}
<div class="container">
    <br>
    <div class="jumbo-header">
        <h1> Update Profile </h1>
    </div><!--page-header-->
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post" action = "" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-signin-2">
                {% for field in form.visible_fields %}
                <div id="div_{{ field.html_name }}"
                class="form-group{% if field.errors %} has-error{% endif %}">
                    <div class="input-group row">
                            <div class="col-md-6"> <i>{{ field.name }} :</i> </div>
                            <div class="col-md-6"> {{ field }}</div>
                    </div><!--input-group--> 

                    <div class="text-muted pull-right">
                        <small>{{ field.help_text }}</small>
                    </div><!--form-group-->
                    <span class="help-block">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </span><!--help-block-->
                </div><!--div_{{field.html_name}}-->
                <br/>
                {% endfor %}
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary ">Update</button>
                </div>
                <div class="col-md-5"></div>
                <br/>
            </div>
        </form>
        
    </div><!--col-md-8-->
    <div class="col-md-2"></div>
</div><!--container-->
{% endblock %}