<!DOCTYPE html>
{% load staticfiles %}
<html >
<head>
    <meta charset="UTF-8">
    <title>New proposal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <script>
      $(document).ready(function() {
        $(".datepicker").datepicker();

        $("#more-local-info").hide();

        $("#remote_local").change(function() {
            if($("#remote_local").val() == "Local") {
                $("#more-local-info").show();
            }
            else {
               $("#more-local-info").hide();
            }
        });

      });
    </script>
</head>

<body>

  <h1> FOSS@Amrita
  <small>Event proposal form</small>
</h1>

<section class="contact-wrap">


  <form action="" class="contact-form" method="post">
      {% csrf_token %}

      <div class="col-sm-12">
          <p style="color: white">{{ form.title.errors }}</p>
        <div class="input-block" id="inputError">
            <label for="{{ form.title.id_for_label }}">Event title</label>
            <input id="{{ form.title.id_for_label }}" value="{% if form.type.value is not None %} {{ form.title.value }} {% endif %}" type="text" class="form-control" name="title">
        </div>
      </div>

        <h5 style="margin-left:2.5%">Basic Information</h5>

      <div class="col-sm-12">
          <p style="color: white">{{ form.type.errors }}</p>
        <div class="input-block">
            <label for="">Type of event(FOSSTalk, lightening talk, workshop etc..)</label>
            <input type="text" value="{% if form.type.value is not None %} {{ form.type.value }} {% endif %}" class="form-control" name="type">
        </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.date.errors }}</p>
        <div class="input-block" >
            <label for="">Proposed date</label>
            <input type="text" value="{% if form.date.value is not None %} {{ form.date.value }} {% endif %}" class="form-control datepicker" name="date">
        </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.duration.errors }}</p>
        <div class="input-block">
            <label for="">Duration</label>
            <input value="{% if form.duration.value is not None %} {{ form.duration.value }} {% endif %}" type="text" class="form-control" name="duration">
        </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.venue.errors }}</p>
        <div class="input-block">
            <label for="">Venue</label>
            <input value="{% if form.venue.value is not None %} {{ form.venue.value }} {% endif %}" type="text" class="form-control" name="venue">
        </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.topic.errors }}</p>
        <div class="input-block">
            <label for="">Topic (Web, Maths, Algorithm, Fedora, etc..):</label>
            <input value="{% if form.topic.value is not None %} {{ form.topic.value }} {% endif %}" type="text" class="form-control" name="topic">
        </div>
      </div>

      <div class="col-sm-7">
          <p style="color: white">{{ form.speakers.errors }}</p>
        <div class="input-block">
            <label for="">Speakers/Trainer (Name):</label>
            <input value="{% if form.speakers.value is not None %} {{ form.speakers.value }} {% endif %}" type="text" class="form-control" name="speakers">
        </div>
      </div>

      <div class="col-sm-5">
          <p style="color: white">{{ form.nat_or_inter.errors }}</p>
        <div class="input-block">
            <label for="">Select</label>
            <select class="form-control" id="sel1" name="nat_or_inter">
                <option value="International">International</option>
                <option value="National">National</option>
              </select>
        </div>
      </div>

        <div class="col-sm-12">
          <p style="color: white">{{ form.trainer_bio.errors }}</p>
          <div class="input-block textarea">
            <label for="">Brief trainer bio</label>
            <textarea rows="3" type="text" class="form-control" name="trainer_bio">{% if form.trainer_bio.value is not None %} {{ form.trainer_bio.value }} {% endif %}</textarea>
          </div>
        </div>

        <div class="col-sm-12">
          <p style="color: white">{{ form.coordinators.errors }}</p>
        <div class="input-block">
            <label for="">Event coordinators</label>
            <input value="{% if form.coordinators.value is not None %} {{ form.coordinators.value }} {% endif %}" type="text" class="form-control" name="coordinators">
        </div>
      </div>

        <div class="col-sm-5">
          <p style="color: white">{{ form.level.errors }}</p>
        <div class="input-block">
            <label for="">Event level</label>
            <select class="form-control" id="sel1" name="level">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
              </select>
        </div>
      </div>


        <div class="col-sm-7">
          <p style="color: white">{{ form.expected_no_of_participants.errors }}</p>
        <div class="input-block">
            <label for="">Expected number of participants:</label>
            <input value="{% if form.expected_no_of_participants.value is not None %} {{ form.expected_no_of_participants.value }} {% endif %}" type="number" class="form-control" name="expected_no_of_participants">
        </div>
      </div>


        <h5 style="margin-left:2.5%">Prerequisites</h5>



      <div class="col-sm-12">
          <p style="color: white">{{ form.prerequisites.errors }}</p>
          <div class="input-block textarea">
            <label for="">Prerequisites</label>
            <textarea rows="3" type="text" class="form-control" name="prerequisites">{% if form.prerequisites.value is not None %} {{ form.prerequisites.value }} {% endif %}</textarea>
          </div>
        </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.course_plan.errors }}</p>
          <div class="input-block textarea">
            <label for="">Course plan</label>
            <textarea rows="3" type="text" class="form-control" name="course_plan">{% if form.course_plan.value is not None %} {{ form.course_plan.value }} {% endif %}</textarea>
          </div>
        </div>





      <div class="col-sm-12">
          <p style="color: white">{{ form.sponsor_list.errors }}</p>
        <div class="input-block">
            <label for="">Sponsor list:</label>
            <input value="{% if form.sponsor_list.value is not None %} {{ form.sponsor_list.value }} {% endif %}" type="text" class="form-control" name="sponsor_list">
        </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.estimated_cost.errors }}</p>
        <div class="input-block">
            <label for="">Estimated cost in thousands</label>
            <input value="{% if form.estimated_cost.value is not None %} {{ form.estimated_cost.value }} {% endif %}" type="number" class="form-control" name="estimated_cost">
        </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.benefit_for_students.errors }}</p>
          <div class="input-block textarea">
            <label for="">How beneficiary is the event for the students?</label>
            <textarea rows="3" type="text" class="form-control" name="benefit_for_students">{% if form.benefit_for_students.value is not None %} {{ form.benefit_for_students.value }} {% endif %}</textarea>
          </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.innovation.errors }}</p>
          <div class="input-block textarea">
            <label for="">Does it involve something new and innovative?</label>
            <textarea rows="3" type="text" class="form-control" name="innovation">{% if form.innovation.value is not None %} {{ form.innovation.value }} {% endif %}</textarea>
          </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.lab_requirements.errors }}</p>
        <div class="input-block">
            <label for="">Lab requirements</label>
            <input value="{% if form.lab_requirements.value is not None %} {{ form.lab_requirements.value }} {% endif %}" type="text" class="form-control" name="lab_requirements">
        </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.icts_support.errors }}</p>
          <div class="input-block textarea">
            <label for="">ICTS support (projector, sound, guest keys etc..)</label>
            <textarea rows="2" type="text" class="form-control" name="icts_support">{% if form.icts_support.value is not None %} {{ form.icts_support.value }} {% endif %}</textarea>
          </div>
      </div>

      <div class="col-sm-6">
          <p style="color: white">{{ form.remote_or_local.errors }}</p>
        <div class="input-block">
            <label for="">Event is </label>
            <select class="form-control" id="remote_local" name="remote_or_local">
                <option value="Remote">Remote</option>
                <option value="Local">local</option>
              </select>
        </div>
      </div>

      <div class="col-sm-12" id="more-local-info">
          <p style="color: white">{{ form.local_travel_accommodation_food.errors }}</p>
          <div class="input-block textarea">
            <label for="">Travel, accommodation and food details </label>
            <textarea rows="4" type="text" class="form-control" name="local_travel_accommodation_food"></textarea>
          </div>
      </div>

      <div class="col-sm-12">
          <p style="color: white">{{ form.other_info.errors }}</p>
          <div class="input-block textarea">
            <label for=""> Any other information </label>
            <textarea rows="3" type="text" class="form-control" name="other_info">{% if form.local_travel_accommodation_food.value is not None %} {{ form.local_travel_accommodation_food.value }} {% endif %}</textarea>
          </div>
      </div>

    <div class="col-sm-12">
      <button class="square-button" type="submit" value="Send message" >Send</button>
    </div>
  </form>



</section>

<!-- follow me template -->
<div class="made-with-love">
  <a target="_blank" href="http://foss.amrita.ac.in/">FOSS@Amrita</a>
</div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>