<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width:1%">No.</th>
            <th style="width:15%">Student</th>
            <th style="width:15%">Organization</th>
            <th style="width:30%">Project title</th>
            <th style="width:15%">Mentor</th>
            <th style="width:5%">Year</th>
            <th style="width:20%">Url</th>
        </tr>	
    </thead>
    <tbody>
    {% for c in gsoc_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a id="gsocuser" href="/register/profile/{{c.username.username}}" target="_blank">
                {{ c.username.firstname | title }} {{ c.username.lastname | title }}
            </a>
        </td>
        <td>{{ c.organization }}</td>
        <td>{{ c.project_title }}</td>
        <td>{{ c.mentor_name }}</td>
        <td>{{ c.year }}</td>
        <td>
            <a id="gsoclink" href="{{ c.gsoc_url }}" target="_blank">
                {{ c.gsoc_url }}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
