<table class="table table-bordered">
    <thead>
        <tr>
            <th>Student</th>
            <th>Type</th>
            <th>Place</th>
            <th>Period</th>      
        </tr>	
    </thead>
    <tbody>
    {% for c in intern_list %}
    <tr>			
        <td>
            <a href="/register/{{c.username.username}}/profile" target="_blank">
                {{ c.username.firstname | title }} {{ c.username.lastname | title }}
            </a>
        </td>
        <td>{{ c.intern_type }}</td>
        <td>{{ c.place }}</td>
        <td>{{ c.period }}</td>			
   </tr>
    {% endfor %}
    </tbody>
</table>
