{% extends 'static/base.html' %}
{% load register_extras %}
{% block title %}
Change Password
{% endblock %}
{% block script %}
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#passwordForm')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh'
            },
            fields: {
                old_password: {
                    validators: {
                        notEmpty: {
                            message: 'The password cannot be empty'  
                        },
                        regexp: {
                            regexp: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/
                        },
                    }
                },
                new_password: {
                    validators: {
                        notEmpty: {
                            message: 'The password cannot be empty'  
                        },
                        stringLength: {
                            min: 6,
                            max: 32,
                            message: 'The password length must be in b/n 6 and 32 characters long. It should have at least a small, capital and a special character'
                        },
                        regexp: {
                            regexp: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/
                        },
                        identical: {
                            field: 'confirm_new_password',
                            message: 'The password and the confirm password doesn\'t match'
                        },
                        different: {
                            field: 'old_password',
                            message: 'The current and new passwords cannot be the same as each other'
                        }
                    }
                },
                confirm_new_password: {
                    validators: {
                        notEmpty: {
                            message: 'The confirm password cannot be empty'  
                        },  
                        regexp: {
                            regexp: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/
                        },
                        identical: {
                            field: 'new_password',
                            message: 'The password and the confirm password doesn\'t match'
                        },
                        different: {
                            field: 'old_password',
                            message: 'The current and new passwords cannot be the same as each other'
                        }
                    }
                },
            }
        });
});
</script>
{% endblock script %}
{% block body %}
<div class="container">
    <div class="jumbo-header">
        <h1> Change Password </h1>
    </div><!--jumbo-header-->
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form method="POST" class="form-signin" id="passwordForm" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="centered">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-lock fa-stack-1x" style="color:#eee;"></i>
                </span>
            </div><!--centered-->
                {% for field in form.visible_fields %}
                <div id="div_{{ field.html_name }}">
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                    {{ field|addcss:"form-control" }}
                    <div class="text-muted pull-right">
                        <small>{{ field.help_text }}</small>
                    </div><!--form-group-->
                    <span class="help-block">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </span><!--help-block-->
                    </div><!--form-group-->
                </div><!--{{ form.html_name }}-->
                {% endfor %}
                <input type='submit' class="btn btn-primary btn-block" value='Change Password'>
        </form>
    </div><!--col-lg-6-->
    <div class="col-lg-3"></div>
</div><!--container-->
{% endblock %}
