{% extends "static/base.html" %}
{%  load static %}
{% load register_extras %}
{% block title %} Register {% endblock %}
{% block script %}
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#registerForm')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh'
            },
            fields: {
                firstname : {
                    validators : {
                        notEmpty: {
                            message: 'Firstname cannot be empty'  
                        },
                        stringLength: {
                            min: 2,
                            max: 50,
                            message: 'Firstname must be more than 2 and less than 50 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: 'Firstname can only consist of alphabetical, number and underscore'
                        }
                    }
                }, 
                lastname : {
                    validators : {
                        notEmpty: {
                            message: 'Lastname cannot be empty'  
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: 'Lasttname can only consist of alphabetical, number and underscore'
                        }
                    }
                }, 
                interest : {
                    validators : {
                        notEmpty: {
                            message: 'Interests cannot be empty'  
                        },
                    }
                }, 
                typing_speed : {
                    validators : {
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: 'Give typing speed in WPM (numeric)'
                        }
                    }
                },
                expertise : {
                    validators : {
                        notEmpty: {
                            message: 'Expertize cannot be empty'  
                        },
                    }
                },
                gender : {
                    validators : {
                        notEmpty: {
                            message: 'Gender cannot be empty'
                        },
                    }
                },
                contact : {
                    validators : {
                        notEmpty: {
                            message: 'Contact cannot be empty'  
                        },
                        regexp: {
                            regexp: /^\d{10}$/,
                            message: 'Not a valid contact number'
                        }
                    }
                }, 
                role : {
                    validators : {
                        notEmpty: {
                            message: 'Role cannot be empty'
                        },
                    }
                },
                goal : {
                    validators : {
                        notEmpty: {
                            message: 'Goal cannot be empty'
                        },
                    }
                },
                username : {
                    validators : {
                        notEmpty: {
                            message: 'The username cannot be empty'  
                        },
                        stringLength: {
                            min: 4,
                            max: 50,
                            message: 'The username must be more than 4 and less than 50 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: 'The username can only consist of alphabetical, number and underscore'
                        }
                    }
                }, 
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password cannot be empty'  
                        },
                        stringLength: {
                            min: 6,
                            max: 32,
                            message: 'The password length must be in b/n 6 and 32 characters long.\nIt should have at least a small and capital letters, digit and special character'
                        },
                        regexp: {
                            regexp: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/
                        }
                    }
                },
                repass: {
                    validators: {
                        notEmpty: {
                            message: 'The confirm password cannot be empty'  
                        },  
                        regexp: {
                            regexp: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/
                        },
                        identical: {
                            field: 'password',
                            message: 'The password and the confirm password doesn\'t match'
                        }
                    }
                },
                email : {
                    validators : {
                        notEmpty: {
                            message: 'Email cannot be empty'  
                        },
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }, 
                    }
                }
            }
        });
});
</script>
{% endblock script %}
{% block body %}
<div class="container">
    <div class="jumbo-header">
        <h1> Register </h1>
    </div><!--jumbo-header-->
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form method="post" id="registerForm" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-signin-2">
                {% for field in form.visible_fields %}
                <div id="div_{{ field.html_name }}">
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {% if field.name == "firstname" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "lastname" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "contact" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "interest" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bell"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "blog_url" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bell"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "twitter_id" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "topcoder_handle" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "github_id" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bell"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "bitbucket_id" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bell"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "typing_speed" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "expertise" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "email" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "username" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "password" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "repass" %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "gender" %}
                        <label class="control-label">Gender</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-female"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "role" %}
                        <label class="control-label">Role</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-child"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% elif field.name == "goal" %}
                        <label class="control-label">Goal</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bullseye"></i></span>
                            {{ field|addcss:"form-control" }}
                        </div><!--input-group-->
                        {% else %}
                        {{ field|addcss:"form-control" }}
                        {% endif %}
                        <div class="text-muted pull-right">
                            <small>{{ field.help_text }}</small>
                        </div><!--form-group-->
                        <span class="help-block">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </span><!--help-block-->
                    </div><!--form-group-->
                </div><!--div_{{field.html_name}}-->
                {% endfor %}
                <label class="control-label">Choose a profile picture: </label>
                <div class="input-group">
                    <a class="btn btn-primary" href='javascript:;'><i class="fa fa-upload"></i> Choose File
                        <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="image" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                    </a>
                    <span type="text" class="label label-info" id="upload-file-info" value="The full path of the uploaded image will be appeared here" disabled></span>
                </div><!--input-group-->
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div><!--form-signin-2-->
        </form>
    </div><!--col-lg-6-->
    <div class="col-lg-3"></div>
</div><!--container-->
{% endblock body %}

