{% extends 'static/base.html' %}
{% load register_extras %}
{% block title %}
Change Profile Picture
{% endblock %}
{% block script %}
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript">
function changeClass()
{
    document.getElementById("submit").className = "btn btn-primary btn-block";
}
</script>
{% endblock script %}
{% block body %}
<div class="container">
    <div class="jumbo-header">
        <h1> Change Profile Picture </h1>
    </div><!--jumbo-header-->
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form method="POST" class="form-signin" id="passwordForm" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="centered">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x" style="color:#eee;"></i>
                </span>
            </div><!--centered-->
            <div class="centered">
                <span class="fa">
                <label class="control-label">Choose a profile picture: </label>
                <div class="input-group">
                    <a class="btn btn-primary" href='javascript:;'><i class="fa fa-upload"></i> Choose File
                        <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="image" size="40"  onchange='$("#upload-file-info").html($(this).val());changeClass()'>
                    </a>
                    <span type="text" class="label label-info" id="upload-file-info" value="The full path of the uploaded image will be appeared here" disabled></span>
                </div><!--input-group-->
                </span>
                </div>
                <div class="centered">
                <input type='submit' class="btn btn-primary btn-block disabled" id="submit" value='Change Profile Picture'>
                </div>
        </form>
    </div><!--col-lg-6-->
    <div class="col-lg-3"></div>
</div><!--container-->
{% endblock %}
