{% extends 'static/base.html' %}
{% load register_extras %}
{% block title %}
Change Password
{% endblock %}
{% block script %}
<script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#passwordForm')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh'
            },
            fields: {
                old_password: {
                    validators: {
                        notEmpty: {
                            message: 'The password cannot be empty'  
                        },
                        regexp: {
                            regexp: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/
                        },
                    }
                },
                new_password: {
                    validators: {
                        notEmpty: {
                            message: 'The password cannot be empty'  
                        },
                        stringLength: {
                            min: 6,
                            max: 32,
                            message: 'The password length must be in b/n 6 and 32 characters long. It should have at least a small, capital and a special character'
                        },
                        regexp: {
                            regexp: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/
                        },
                        identical: {
                            field: 'confirm_new_password',
                            message: 'The password and the confirm password doesn\'t match'
                        },
                        different: {
                            field: 'old_password',
                            message: 'The current and new passwords cannot be the same as each other'
                        }
                    }
                },
                confirm_new_password: {
                    validators: {
                        notEmpty: {
                            message: 'The confirm password cannot be empty'  
                        },  
                        regexp: {
                            regexp: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/
                        },
                        identical: {
                            field: 'new_password',
                            message: 'The password and the confirm password doesn\'t match'
                        },
                        different: {
                            field: 'old_password',
                            message: 'The current and new passwords cannot be the same as each other'
                        }
                    }
                },
            }
        });
});
</script>
{% endblock script %}
{% block body %}
<div class="container">
    <div class="jumbo-header">
        <h1> Change Password </h1>
    </div><!--jumbo-header-->
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form method="POST" class="form-signin" id="passwordForm" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="centered">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-lock fa-stack-1x" style="color:#eee;"></i>
                </span>
            </div><!--centered-->
            <div class="centered">
                <label class="control-label">Choose a profile picture: </label>
                <div class="input-group">
                    <a class="btn btn-primary" href='javascript:;'><i class="fa fa-upload"></i> Choose File
                        <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="image" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                    </a>
                    <span type="text" class="label label-info" id="upload-file-info" value="The full path of the uploaded image will be appeared here" disabled></span>
                </div><!--input-group-->
                </div>
                <input type='submit' class="btn btn-primary btn-block" value='Change Password'>
        </form>
    </div><!--col-lg-6-->
    <div class="col-lg-3"></div>
</div><!--container-->
{% endblock %}
