<!DOCTYPE html>
{%  load staticfiles %}
{%  load static %}
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>FOSSTER</title>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

      <!-- Favicon ================== -->
      <!-- Standard -->
      <script src="https://use.fontawesome.com/4b792e6620.js"></script>

      <!--  Resources style ================ -->
      <link href="{% static 'fosster/css/sunflower.css' %}" rel="stylesheet" type="text/css" media="all"/>
      <link href="{%  static 'fosster/css/custom.css' %}" rel="stylesheet" type="text/css" media="all"/>

    </head>
    <body>
      <section id="parent" class="animsition">

        <!-- Your logo -->
        <div class="quick fadeIn fixed align-bottom align-right mt50 main-logo">
            <h3 style="color:white;">FOSSTER'17</h3>
            <h6 style="color:white;">Open Source Conference</h6>
        </div>

        <div id="leftSide" class="color">
          <div id="home" class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">

            <div class="h-content top-15">
              <h1 class="mid animated fadeInUp mb30 m-heading fw700">Stay tuned <br> we're launching soon. <br>
              </h1>

              <div class="mt40 slow animated fadeInUp">
                <div class="fadeup vertical compress">
                    <form id="subscribe-form" class="vertical-form compressed-form" action="."  method="post">
                        {% csrf_token %}
                        <input style="color:black;" required name="name" class="input-email round mr10" placeholder="Name">
                        <br>
                        <br>
                        <input style="color:black;" required type="email" name="email" class="input-email round mr10" placeholder="Email Address">
                      <button type="submit" class="submit btn-solid round input-submit"><i class="fa fa-check-square-o fa-lg"></i></button>
                    </form>
                  </div>
              </div>

            </div>

            <div class="copyright quick fadeIn align-bottom fixed">
              <p class="block  fw400">
               &copy; 2016 - Made with <i class="ti-heart pr5 pl5"></i> by <span class="notoSerif italic fw600">Coderare</span>.
              </p>
            </div>


            <div class="vertical-result">
              <div id="subscribe-result" class="vertical-result fixed col-sm-10 align-bottom">
              </div>
            </div>

          </div>
        </div>


        <div id="rightSide" class="visible img-only">

          <div class="scene">
              <div class="wing-left"></div>
              <div class="wing-right"></div>
              <div class="exhaust"></div>
              <div class="capsule">
                <div class="top">
                  <div class="shadow"></div>
                </div>
                <div class="base"></div>
              </div>
              <div class="window-big"></div>
              <div class="window-small"></div>
              <div class="fire-1"></div>
              <div class="fire-2"></div>
              <div class="fire-3"></div>' %}
              <div class="fire-4"></div>
              <div class="spark-1"></div>
              <div class="spark-2"></div>
              <div class="spark-3"></div>
              <div class="spark-4"></div>
              <div class="star star--1"></div>
              <div class="star star--2"></div>
              <div class="star star--3"></div>
              <div class="star star--4"></div>
              <div class="star star--5"></div>
              <div class="star star--6"></div>
              <div class="star star--7"></div>
              <div class="star star--8"></div>
              <div class="star star--9"></div>
              <div class="star star--10"></div>
              <div class="star star--11"></div>
              <div class="star star--12"></div>
              <div class="star star--13"></div>
              <div class="star star--14"></div>
              <div class="star star--15"></div>
              <div class="star star--16"></div>
            </div>

      </section>


      <script src="{% static 'fosster/js/jquery-1.11.3.min.js' %}"></script>
      <script src="{% static 'fosster/js/bootstrap.min.js' %}" ></script>
      <script src="{% static 'fosster/js/animsition.min.js' %}"></script>
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <script src="{% static 'fosster/js/jquery.countdown.min.js' %}"></script>
      <script src="{% static 'fosster/js/photoswipe.min.js' %}"></script>
      <script src="{% static 'fosster/js/photoswipe-ui-default.min.js' %}"></script>
      <script src="{% static 'fosster/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'fosster/js/rocket.js' %}"></script>
      <script src="{% static 'fosster/js/script.js' %}"></script>
  </body>
</html>
