<div class="theme theme-2">
    <h1 class="theme-2-h1 centered">Write to Us</h1>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form role="form" method="post" action="/contact/" id="profileForm" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

                <div class="col-md-2">

                    <input type="submit" value="Send" class="btn btn-info btn-block">

                </div><!--col-md-4-->

          	</div><!--row-->
        </form>
    </div><!--col-md-8-->
    <div class="col-md-2"></div>
</div><!--theme theme-2-->

