<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="theme theme-2">
    <h1 class="theme-2-h1 centered">Write to Us</h1>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form role="form" method="post" action="/contact/" id="profileForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" id="name">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" name="sender_name" placeholder="Name"/>
                </div><!--input-group-->
            </div><!--form-group-->
            <div class="form-group" id="email">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="email" class="form-control" name="sender_email" placeholder="Email Address" required />
                </div><!--input-group-->
            </div><!--form-group-->
            <div class="form-group" id="message">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-pencil"></i>
                    </span>
                    <textarea name="mail_text" class="form-control" rows="10" placeholder="Message"></textarea>
                </div><!--input-group-->
            </div><!--form-group-->
            <div class="row"> <!--Captica and submit button goes in single row-->
            	<div class="col-md-5">
            		<div class="form-group">
                		<div class="input-group">
                      <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LcpOBQUAAAAAPlESQ310zVECwm7GvBPUSf8CaJ1"></div> <!-- Google captcha for verification of bot -->
                 		</div>

                		{% ifequal captcha 'false' %}
                    		<div class="alert alert-danger">
                    		    Incorrect Captcha
                    		</div><!--error-msg has-error-->
                		{% endifequal %}

            		</div><!-- form-group-->
          		</div><!--col-md-5-->
                <div class="col-md-5">

                </div>

                <div class="col-md-2">

                    <input type="submit" name="contact_button" id="contact_id" value="Send" class="btn btn-info btn-block" disabled>
                </div><!--col-md-4-->

          	</div><!--row-->
        </form>
    </div><!--col-md-8-->
    <div class="col-md-2"></div>
</div><!--theme theme-2-->

<script>
function recaptchaCallback() {
    $('#contact_id').removeAttr('disabled');
};
</script>
