<link href="{%  static 'css/js-image-slider.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/js-image-slider.js' %}" type="text/javascript"></script>
    
<div id="sliderFrame" style="height:550px;">
        <div id="slider">
            	<img src="{% static 'images/home/slider-1.jpg' %}" />
            	<img src="{% static 'images/home/slider-2.jpg' %}" />
                <img src="{% static 'images/home/slider-3.jpg' %}" />
            	<img src="{% static 'images/home/slider-4.jpg' %}" /a>
        </div>
        <!--thumbnails-->
        <div id="thumbs">
            	<div class="thumb"><img src="{% static 'images/home/thumb-1.gif' %}" /></div>
            	<div class="thumb"><img src="{% static 'images/home/thumb-2.gif' %}" /></div>
            	<div class="thumb"><img src="{% static 'images/home/thumb-3.gif' %}" /></div>
            	<div class="thumb"><img src="{% static 'images/home/thumb-4.gif' %}" /></div>
        </div>
</div>


